<table class="table">
  <thead class="thead-light">   
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Employee</th>
      <th scope="col">State</th>
      <th scope="col">State change time</th>
    </tr>
  </thead>  
  <tbody>        
    <tr ng-repeat="emp in listEmpl">
      <th scope="row"> {{emp.EmployeeID}} </th>
      <td>
        <a class = "" title = "Working time report"
            href="#!/employee/{{emp.EmployeeID}}">
            {{emp.FIO}}
        </a>
      </td>
      <td> 
        <p ng-if="(emp.EventDescriptionID === 45)" class="text-success">Attend</p>
        <p ng-if="(emp.EventDescriptionID === 46)" class="text-danger">Absent</p>
      </td>
      <td>{{ emp.Date }}</td>
    </tr>
  </tbody>
</table>