<div class="container  py-5"> 
    <h2 class = "text-center  text-primary mb-5"> {{ employeeData.FIO}} summary time
    </h2> 
    
    <div class = "d-flex flex-column  justify-content-center 
    align-items-center b-2"> 
        <input  type = "date"   class="form-control col-md-4 mb-4" ng-model="currentDate" ng-change="clearDate()"/>                
        <button class="btn btn-primary col-md-4 mb-4"  ng-click="getSummaryTime()"  >
                Get Total time
        </button>
        <div ng-if= " workingTime !== null ">
        <h4 class="mt-4 mb-4" >Summary work time: 
            <span class="text-info"> {{workingTime}}</span>
        </h4>
        <p class="">Last state: 
                <span class="text-info">{{employeeData.EventDescription}}</span> at 
                <span class="text-info">{{currentDate | date:'dd, MMMM yyyy, h:mm:ss a'}}</span></p>
        </div>
    </div>
</div>